* {
  border: 1px solid orange;
  box-sizing: border-box;
}
#root {
  height: 2000px;
  position: relative;
}
body {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 2px;
}
