@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}
.image-container {
  transition: transform 0.2s ease-in-out;
}
.img-text {
  text-align: center;
  color: white;
  animation: fadeIn 1s;
}
.img-restart {
  text-align: center;
  color: white;
  opacity: 0;
}
.more:hover {
  color: red;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.more:active {
  background-color: dimgray;
  opacity: 0.5;
}
.more {
  padding: 10px 25px 10px 25px;
  border: 1px solid white;
  background: transparent;
  color: white;
  border-radius: 3px;
  transition: color 0.2s ease-in-out;
  animation: fadeIn 1s;
}
.more-restart {
  opacity: 0;
  padding: 10px 25px 10px 25px;
  border: 1px solid white;
  background: transparent;
  color: white;
  border-radius: 3px;
  transition: color 0.2s ease-in-out;
}
.input-btn {
  outline: none;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
.input-btn:checked {
  background-color: red;
}
.input-btn-checked {
  background-color: red;
  outline: none;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  cursor: pointer;
}